/* Extra small devices [COL] (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

	/* Header Start */
	header {
		font-size: 16px;
	}
	.custom-nav ul li a {
		padding: 2px 15px !important;
		margin: 5px auto;
		display: inline-block;
	}
	.user {
		margin-left: 10px;
	}
	.custom-input {
		width: 200px;
		margin: 0 15px;
	}
	.search-icon {
		padding: 5px 15px;
	}
	/* Header End */

	/* Banner Start */
	.banner {
		background-color: #fff;
		padding-bottom: 30px;
	}
	.banner-top {
		background-image: none;
		min-height: 0;
	}
	.b-title {
		padding-top: 120px;
		padding-bottom: 80px;
	}
	.b-title h1 {
		font-size: 25px;
		letter-spacing: 1px;
		word-spacing: 2px;
	}
	.banner-footer {
		background-image: none;
		min-height: 0;
		margin-bottom: 30px;
	}
	.scroll p {
		font-size: 16px;
		margin-top: 0;
	}
	/* Banner End */

	/* 1st Kid Education Start */
	.kid-edu,
	.kid-edu2,
	.cource,
	.memorable-moment,
	.twitter-contact,
	.teacher,
	.event {
		margin: 30px auto;
	}
	.common-title {
		margin: 30px auto;
	}
	.common-title h1 {
		font-size: 23px;
		letter-spacing: 2px;
		word-spacing: 2px;
		margin: 15px auto;
	}
	.kid-edu-content {
		padding-bottom: 30px;
	}
	.custom-title h2 {
		font-size: 20px;
	}
	.custom-btn {
		margin: auto;
	}
	.k-e-img {
		margin: 10px auto;
	}
	/* 1st Kid Education End */

	/* 2nd Kid Education Start */
	.kid-edu2-body {
		margin-bottom: 30px;
	}
	/* 2nd Kid Education End */

	/* Cources Start */
	.custom-c-t {
		min-height: 0;
	}
	.custom-c-btn,
	.p-gallery {
		margin: 30px auto;
	}
	/* Cources End */

	/* Memorable Moments Start */
	.mm-footer,
	.tc-body {
		margin-top: 30px;
	}	
	/* Memorable Moments End */

	/* Twitter Contacts Start */
	.text-content p {
		line-height: 2.0;
		letter-spacing: 1px;
		word-spacing: 1px;
	}
	/* Twitter Contacts End */

	/* Teachers Start */
	.teacher-content {
		padding-bottom: 0px;
	}
	.t-footer p {
		font-size: 16px;
	}
	/* Teachers End */

	/* Blog Start */
	.blog {
		padding: 30px 0;
	}
	.blog-title {
		margin: 30px auto;
	}
	.blog-content {
		margin-bottom: 10px;
	}
	.single-blog {
		margin-bottom: 20px;
	}
	.blog-text h1 {
		font-size: 40px;
	}
	.blog-text h2 {
		font-size: 16px;
	}
	/* Blog End */

	/* Events Start */
	.single-event .custom-title {
		margin-top: 15px;
		margin-bottom: -10px;
	}
	.event-t {
		width: 75px;
		height: 75px;
	}
	.event-t p:nth-child(1) {
		font-size: 35px;
	}
	.event-t p:nth-child(2) {
		font-size: 16px;
		margin: -8px;
	}
	/* Events End */

	/* Contact Start */
	.contact {
		padding-bottom: 30px
	}
	.single-recent-news .custom-title {
		margin-top: 40px;
	}
	/* Contact End */

	/* Footer Start */
	footer {
		font-size: 16px;
		padding: 15px 0 !important;
	}
	.f-menu .nav a {
		padding: 0 2px !important;
	}

	.f-copy-right p {
		text-align: center !important;
	}
	/* Footer End */

}

/* Small devices [SM] (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

	/* Header Start */
	header {
		font-size: 16px;
	}
	.custom-nav ul li a {
		padding: 2px 15px !important;
		margin: 5px auto;
		display: inline-block;
	}
	.custom-input {
		width: 200px;
		margin: 0 15px;
	}
	.search-icon {
		padding: 5px 15px;
	}
	.user {
		margin-left: 10px;
	}
	/* Header End */

	/* Banner Start */
	.banner-top {
		background-image: none;
		min-height: 0;
	}
	.b-title {
		padding-top: 150px;
		padding-bottom: 100px;
	}
	.b-title h1 {
		font-size: 35px;
		letter-spacing: 1px;
		word-spacing: 2px;
	}
	.banner-footer {
		min-height: 145px;
	}
	.scroll p {
		font-size: 16px;
	}
	/* Banner End */

	/* 1st Kid Education Start */
	.kid-edu,
	.kid-edu2,
	.cource,
	.memorable-moment,
	.twitter-contact,
	.teacher,
	.event  {
		margin: 35px auto;
	}
	.common-title {
		margin: 35px auto;
	}
	.common-title h1 {
		font-size: 24px;
		letter-spacing: 2px;
		word-spacing: 3px;
		min-height: 18px auto;
	}
	.kid-edu-content {
		padding-bottom: 35px;
	}
	.custom-title h2 {
		font-size: 22px;
	}
	.custom-btn {
		margin: auto;
	}
	.k-e-img {
		margin: 10px auto;
	}
	/* 1st Kid Education End */

	/* 2nd Kid Education Start */
	.kid-edu2-body {
		margin-bottom: 35px;
	}
	/* 2nd Kid Education End */

	/* Cources Start */
	.custom-c-t {
		min-height: 100px;
	}
	.custom-c-btn,
	.p-gallery {
		margin: 35px auto;
	}
	/* Cources End */

	/* Memorable Moments Start */
	.mm-footer,
	.tc-body {
		margin-top: 35px;
	}
	/* Memorable Moments End */

	/* Twitter Contacts Start */
	.text-content p {
		line-height: 2.0;
		letter-spacing: 1px;
		word-spacing: 2px;
	}
	/* Twitter Contacts End */

	/* Teachers Start */
	.teacher-content {
		padding-bottom: 5px;
	}
	.t-footer p {
		font-size: 16px;
	}
	/* Teachers End */


	/* Blog Start */
	.blog {
		padding: 35px 0;
	}
	.blog-title {
		margin: 35px auto;
	}
	.blog-content {
		margin-bottom: 15px;
	}
	.single-blog {
		margin-bottom: 20px;
	}
	.blog-text h1 {
		font-size: 45px;
	}
	.blog-text h2 {
		font-size: 18px;
	}
	/* Blog End */

	/* Events Start */
	/* Events End */
	/* Contact Start */
	.contact {
		padding-bottom: 35px
	}
	/* Contact End */

	/* Footer Start */
	footer {
		font-size: 16px;
		padding: 15px 0 !important;
	}
	.f-menu .nav a {
		padding: 0 3px !important;
	}

	.f-copy-right p {
		text-align: center !important;
	}
	/* Footer End */
}

/* Medium devices [MD] (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

	/* Header Start */
	header {
		font-size: 17px;
	}
	.custom-nav ul li a {
		padding: 2px 15px !important;
		margin: 5px auto;
		display: inline-block;
	}
	.custom-input {
		width: 200px;
		margin: 0 15px;
	}
	.search-icon {
		padding: 5px 15px;
	}
	/* Header End */

	/* Banner Start */
	.banner-top {
		min-height: 78px;
	}
	.b-title {
		padding-top: 150px;
		padding-bottom: 100px;
	}
	.b-title h1 {
		font-size: 40px;
		letter-spacing: 1px;
		word-spacing: 2px;
	}
	.banner-footer {
		min-height: 145px;
	}
	/* Banner End */

	/* 1st Kid Education Start */
	.kid-edu,
	.kid-edu2,
	.cource,
	.memorable-moment,
	.twitter-contact,
	.teacher,
	.event {
		margin: 40px auto;
	}
	.common-title {
		margin: 40px auto;
	}
	.common-title h1 {
		font-size: 26px;
		letter-spacing: 2px;
		word-spacing: 3px;
	}
	.kid-edu-content {
		padding-bottom: 40px;
	}
	.custom-title h2 {
		font-size: 23px;
	}
	.custom-btn {
		margin: 0;
	}
	.k-e-img {
		margin: 10px auto;
	}
	/* 1st Kid Education End */

	/* 2nd Kid Education Start */
	.kid-edu2-body {
		margin-bottom: 40px;
	}
	/* 2nd Kid Education End */

	/* Cources Start */
	.custom-c-t {
		min-height: 75px;
	}
	.custom-c-btn,
	.p-gallery {
		margin: 40px auto;
	}
	/* Cources End */

	/* Memorable Moments Start */
	.mm-footer,
	.tc-body {
		margin-top: 40px;
	}
	/* Memorable Moments End */

	/* Twitter Contacts Start */
	.text-content p {
		line-height: 2.5;
		letter-spacing: 2px;
		word-spacing: 2px;
	}
	/* Twitter Contacts End */

	/* Teachers Start */
	.teacher-content {
		padding-bottom: 10px;
	}
	.t-footer p {
		font-size: 17px;
	}
	/* Teachers End */

	/* Blog Start */
	.blog {
		padding: 40px 0;
	}
	.blog-title {
		margin: 40px auto;
	}
	.blog-content {
		margin-bottom: 40px;
	}
	.blog-text h1 {
		font-size: 50px;
	}
	.blog-text h2 {
		font-size: 19px;
	}
	/* Blog End */

	/* Events Start */
	/* Events End */

	/* Contact Start */
	.contact {
		padding-bottom: 40px;	
	}
	/* Contact End */

	/* Footer Start */
	footer {
		font-size: 16px;
		padding: 15px 0 !important;
	}
	.f-menu .nav a {
		padding: 0 5px !important;
	}
	/* Footer End */

}

/* Large devices [LG](desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

	/* Header Start */
	.custom-nav ul li a {
		padding: 0 10px !important;
	}
	.custom-input {
		width: 135px;
		padding: 0px 5px;
	}
	/* Header End */

	/* Banner Start */
	.banner-top {
		min-height: 105px;
	}
	.banner-footer {
		min-height: 145px;
	}
	.b-title h1 {
		font-size: 44px;
	}
	/* Banner End */

	/* 1st Kid Education Start */
	/* 1st Kid Education Start */
	.kid-edu,
	.kid-edu2,
	.cource,
	.memorable-moment,
	.twitter-contact,
	.teacher,
	.event {
		margin: 45px auto;
	}
	.common-title {
		margin: 45px auto;
	}
	.common-title h1 {
		font-size: 28px;
		letter-spacing: 2px;
		word-spacing: 4px;
	}
	.custom-btn {
		margin: 0;
	}
	.k-e-img {
		margin: 25px auto;
	}
	/* 1st Kid Education End */
	.kid-edu-content,
	.kid-edu2-body {
		padding-bottom: 45px;
	}
	/* 2nd Kid Education Start */
 	/* 2nd Kid Education End */

	/* Cources Start */
	.cource .common-title {
		margin-bottom: 0;
	}
	.custom-c-t {
		min-height: 100px;
	}
	.custom-c-t2 {
		min-height: 75px;
	}
	.custom-c-btn,
	.p-gallery {
		margin: 45px auto;
	}
	/* Cources End */

	/* Memorable Moments Start */
	.mm-footer,
	.tc-body {
		margin-top: 45px;
	}
	/* Memorable Moments End */

	/* Twitter Contacts Start */
	/* Twitter Contacts End */

	/* Teachers Start */
	.teacher-content {
		padding-bottom: 15px;
	}
	.single-teacher {
		padding-bottom: 30px;
	}
	.single-teacher .custom-title {
		margin-top: 0 !important;
	}
	.single-teacher h2 {
		margin-top: 0 !important;
	}
	/* Teachers End */

	/* Blog Start */
	.blog {
		padding: 45px 0;
	}
	.blog-title {
		margin: 45px auto;
	}
	.blog-content {
		margin-bottom: 45px;
	}
	.blog-text h1 {
		font-size: 55px;
	}
	.blog-text h2 {
		font-size: 22px;
	}
	/* Blog End */

	/* Events Start */
	.event-t {
		width: 90px;
		height: 90px;
	}
	.event-t p:nth-child(1) {
		font-size: 44px;
	}
	.event-t p:nth-child(2) {
		font-size: 17px;
		margin: -12px;
	}
	/* Events End */

	/* Contact Start */
	.contact {
		padding-bottom: 45px;	
	}
	/* Contact End */

	/* Footer Start */
	footer {
		font-size: 17px;
		padding: 20px 0;
	}
	.f-menu .nav a {
		padding: 0 8px !important;
	}
	/* Footer End */
}

/* Extra large devices [XL] (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}