* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(../images/education-body.png);
	font-family: 'Dosis', sans-serif;
	color: #333333;
	font-size: 16px;
	line-height: 1.5;
}
/* Custom Background Color */
.c-bg-p {
	background-color: #1EC0FF;
}
.c-bg-s {
	background-color: #56D47E;
}
.c-bg-d {
	background-color: #F05C5C;
}
.c-bg-w {
	background-color: #FFD338;
}
/* Custom Background Color */

/* Custom Text Color */
.c-t-c-p {
	color: #1EC0FF;
}
.c-t-c-s {
	color: #56D47E;
}
.c-t-c-d {
	color: #F05C5C;
}
.c-t-c-w {
	color: #FFD338;
}
/* Custom Text Color */

/* Header Start */
header {
	background-color: #FFD338;
	font-size: 18px;
	font-weight: 700;
}
.custom-img-logo {
	width: 100%;
}
.custom-nav {}
.custom-nav ul {}
.custom-nav ul li {}
.custom-nav ul li a {
	color: #ffffff !important;
	padding: 0 20px !important;
	transition: .5s;
	border-radius: 50px;
}
.custom-nav ul li:first-child a {
	background-color: #F05C5C;
}
.custom-nav ul li a:hover {
	background-color: #F05C5C;
}
.user {
	border: none;
	background-color: transparent;
}
.user-btn {
	background-color: #FFD338;
	color: #fff;
	box-shadow: none !important;
}
.custom-input {
	width: 175px;
	padding: 2px 5px;
	margin: 0 auto;
	border-radius: 5px;
	display: none;
}
.search-icon {
	color: #fff;
	font-size: 20px;
	background: transparent;
	border: none;
	padding: 5px 5px;
	margin: 0;
	text-align: center;
	cursor: pointer;
}
/* Header End */

/* Banner Start */
.banner {}
.banner-top {
	background-image: url(../images/education-banner-top.png);
	background-repeat: no-repeat;
	background-position: top;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 145px;
}
.banner-body {
	background-color: #fff;
}
.b-title {
	padding-top: 120px;
	padding-bottom: 150px;
}
.b-title h1 {
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 3px;
	word-spacing: 5px;
}
.banner-footer {
	background-image: url(../images/education-banner-footer.png);
	background-repeat: no-repeat;
	background-position: bottom;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 165px;
}
.scroll {}
.scroll p {
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin-top: 80px;
}
/* Banner End */

/* 1st Kid Education Start */
.kid-edu {
	margin: 50px auto;
}
.common-title {
	margin: 50px auto;
}
.common-title h1 {
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3px;
	word-spacing: 5px;
	margin: 20px auto;
}
.common-title hr {
	border: none;
	border-bottom: 6px dashed #ffffff;
	width: 260px;
	margin: 0 auto;
}
.kid-edu-content {
	padding-bottom: 50px;
}
.custom-title {
	margin: 20px auto;
}
.custom-title h2 {
	font-size: 24px;
	font-weight: 700;
	margin: 15px auto;
	letter-spacing: 1px;
}
.custom-title hr {
	border: none;
	border-bottom: 3px solid #DDDDDD;
	width: 200px;
}
.custom-p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 10px auto;
}
.custom-btn {
	background: none;
	border: none;
	outline: none;
	margin-top: 20px;
}
.custom-img {
	width: 100%;
	border-radius: 15px;
}
/* 1st Kid Education End */

/* 2nd Kid Education Start */
.kid-edu2 {
	background-image: url(../images/education-bg-desiration.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 50px 0;	
}
.kid-edu2-body {
	margin-bottom: 50px;
}
.kid-edu-img {
	margin: 10px;
}
/* 2nd Kid Education End */

/* Cources Start */
.cource {
	margin: 50px auto;
}
.cource .common-title {
	margin-bottom: 0;
}
.custom-card {
	margin: 15px auto;
	border-radius: 20px !important;
}
.custom-c-h {
	position: relative;
	padding: 12px 0;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.custom-c-h p {
	color: #efeeef;
	font-size: 12px;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	margin: 0px auto !important;
}
.custom-c-h img {
	position: absolute;
	top: 10px;
	right: 10px;
	margin: auto;
}
.custom-title h3 {
	font-size: 24px;
	font-weight: 500;
	margin: 15px auto;
	letter-spacing: 1px;
	word-spacing: 3px;
}
.custom-c-b {
	position: relative;
	padding: 5px 10px 0px 10px;
}
.price {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	top: -25px;
	right: 10px;
	position: absolute;
}
.price p:first-child {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	margin-top: 4px;
}
.price p:last-child {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	margin: -25px;
}
.custom-c-t {
	min-height: 85px;
}
.custom-c-f {
	padding: 12px 0;
	border-top: 1px solid #DDDDDD;
}
.custom-c-f p {
	margin: 0;
}
.custom-c-btn {
	padding: 10px 0;
	margin: 50px auto;
	display: block;
	border-radius: 20px;
}
/* Cources End */

/* Memorable Moments Start */
.memorable-moment {
	background-image: url(../images/education-memorable-moment.png);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 50px 0;
}
.p-gallery {
	margin: 50px auto;
}
.custom-p-g-img {
	border-radius: 40px;
	padding: 15px 0;
}
.mm-footer {
	margin-top: 50px;
}
/* Memorable Moments End */

/* Twitter Contacts Start */
.twitter-contact {
	margin: 50px auto;
}
.tc-body {
	margin-top: 50px;
}
.tc-icon i {
	font-size: 60px;
}
.text-content p {
	font-size: 16px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	line-height: 3.0;
	letter-spacing: 2px;
	word-spacing: 3px;
}
/* Twitter Contacts End */

/* Teachers Start */
.teacher {
	margin: 50px auto;
}
.teacher-content {
	padding-top: 0;
	padding-bottom: 20px;
}
.single-teacher {
	padding-bottom: 30px;
}
.custom-t-img {
	width: 100%;
	border-radius: 15px;
}
.custom-title h4 {
	color: #333333;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	padding-bottom: 8px;
	border-bottom: 1px solid #A9A9A9 !important;
}
.t-icon {}
.t-icon a {
	padding: 0 10px;
}
.t-icon a:first-child {
	padding-left: 0;
}
.t-icon a:nth-child(1) {
	color: #4366FF !important;
}
.t-icon a:nth-child(2) {
	color: #1EC0FF !important;
}
.t-icon a:nth-child(3) {
	color: #F05C5C !important;
}
.t-icon a:nth-child(4) {
	color: #0B3861 !important;
}
.t-footer {
	margin-top: 10px;
}
.t-footer p {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 0px;
}
/* Teachers End */

/* Blog Start */
.blog {
	background-image: url(../images/pexels-photo-213172.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 50px 0;
}
.blog-title {
	margin: 50px auto;
}
.blog-content {
	margin-bottom: 50px;
}
.blog-text h1 {
	color: #fff;
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 0;
}
.blog-text img {}
.blog-text h2 {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 0;
	text-transform: uppercase;
}
/* Blog End */

/* Events Start */
.event {
	margin: 50px auto;
}
/* Events Timeline */
.custom-hr hr {
	margin: 0;
}
.single-event {
	margin-bottom: 20px;
}
.single-event .custom-title {
	margin-top: 20px;
	margin-bottom: -10px;
}
.event-t {
	width: 100px;
	height: 100px;
}
.event-t p:nth-child(1) {
	font-size: 48px;
	color: #fff;
	font-weight: 700;
	margin: 0;
}
.event-t p:nth-child(2) {
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	margin: -15px;
}
.custom-p2 {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.event-f h2 {
	color: #fb9130;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: ;
}
/* Events Timeline */

/* Recent News */
.single-recent-news {
	margin-bottom: 30px;
}
.single-recent-news .custom-title {
	margin-top: 20px;
	margin-bottom: -10px;
}
.custom-h2 {
	margin: -20px 0 !important;
}
.custom-r-n-hr hr {
	width: 100%;
	margin: 25px auto;
	border: none;
	border-bottom: 5px dotted;
}
/* Recent News */
/* Events End */

/* Contact Start */
.contact {
	background-color: white !important;
	padding-bottom: 50px;	
}
.footer-bg {
	background-image: url(../images/education-footer.png);
	background-repeat: no-repeat;
	background-position: top;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 150px;
}
.custom-c-hr hr {
	width: 180px;
	border: none;
	border-bottom: 5px dotted;
}
.i-p-g-img  img {
	padding: 15px 0 !important;
}

.c-icon {
	color: #DDDDDD;
	padding-right: 5px;
}
/* Contact End */

/* Footer Start */
footer {
	background-color: #FFD338;
	font-size: 18px;
	font-weight: 700;
	padding: 20px 0;
}
.f-menu .nav a {
	color: #efeeef !important;
	padding: 0 10px !important;
}
.f-copy-right p {
	color: #efeeef !important;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	margin: 0;
}
/* Footer End */